body{
    font-family: 'Josefin Sans', sans-serif;
}

.top-area{
    display: flex;
    width: 100%;
    margin-bottom: 100px;
}
.first-heading{
    margin-left: 30px;     
}
.first-heading h1{
    font-size: 70px;
    line-height: 81px;
}
.first-heading h1 span{
 color: orange;
}
.first-heading h6{
    font-size: 20px;
    line-height: 29px;
    color: gray;
   }
.first-heading button{
    padding: 10px 20px;
    font-size: 20px;
    background-image: linear-gradient(#FD5332, #FB9149);
    border: none;
    border-radius: 30px;
    color: white;
    margin-top: -50px;
}
.hero-image img{
    width: 589px;
    height: 527px;
    margin-right: 30px;
   
}

/*ABOUT AREA START*/

.about-area{
    background-image: url("7.png");
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
}
.about-area-image img{
    width: 303px;
    height: 365px;
    margin-left: 134px;
    margin-top: 83px;
}

.about-topic{
    margin-left: 200px;
    margin-top: 100px;
    color: gray;
    padding-right: 163px;
}

.about-topic h4{
    font-size: 30px;
    font-weight: 700;
}
.about-topic p{
    margin-top: -30px;
    line-height: 30px;
}
.about-topic button{
    padding: 10px 20px;
    font-size: 20px;
    background-image: linear-gradient(#FD5332, #FB9149);
    border: none;
    border-radius: 30px;
    color: white;
    margin-top: 50px;
}

/*ABOUT AREA END*/

/*RECEPI AREA START*/

.main-body-area{
    margin-top: 80px;
}
.top-topic{
  text-align: center;
}
.top-topic h4{
    color: gray;
    font-weight: bold;
    font-size: 30px;
}
.top-topic p{
    padding-left: 300px;
    padding-right: 300px;    
    color: gray;
    line-height: 30px;
}

.main-topic-area{
    display: flex;
    margin: 50px;
}

.main-topic-first{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
    margin-right: 93px;
}

.main-topic-second{
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
    padding: 30px;  
    width: 50%;
    margin-right: 93px;
}

.main-topic-first img{
    width: 474px;
    height: 300px;
}

.main-topic-second img{
    width: 474px;
    height: 300px;
}

.main-topic-first p{   
    color: gray;
    line-height: 30px;
}
.main-topic-second p{   
    color: gray;
    line-height: 30px;
}



/*RECEPI AREA END*/