body{
    font-family: 'Josefin Sans', sans-serif;
}

.top-area{
    display: flex;
    width: 100%;
}
.first-heading{
    margin-left: 30px;     
}
.first-heading h1{
    font-size: 70px;
    line-height: 81px;
}
.first-heading h1 span{
 color: orange;
}
.first-heading h6{
    font-size: 20px;
    line-height: 29px;
    color: gray;
   }
.first-heading button{
    padding: 20px 40px;
    font-size: 20px;
    background-image: linear-gradient(#FD5332, #FB9149);
    border: none;
    border-radius: 30px;
    color: white;
    margin-top: -50px;
}
.hero-image img{
    width: 592px;
    height: 527px;
    margin-right: 30px;
   
}

